<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ITEventEntities" connectionString="metadata=res://*/Entities.ITEventsModel.csdl|res://*/Entities.ITEventsModel.ssdl|res://*/Entities.ITEventsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-R2UPGH3\DR;initial catalog=ITEvent;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ITEventEntities1" connectionString="metadata=res://*/Entities.ITEventsModel.csdl|res://*/Entities.ITEventsModel.ssdl|res://*/Entities.ITEventsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-R2UPGH3\DR;initial catalog=ITEvent;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ITEntities" connectionString="metadata=res://*/Entities.ModelITEvent.csdl|res://*/Entities.ModelITEvent.ssdl|res://*/Entities.ModelITEvent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-R2UPGH3\DR;initial catalog=ITEvent;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EventEntities" connectionString="metadata=res://*/Entities.ModelEventIT.csdl|res://*/Entities.ModelEventIT.ssdl|res://*/Entities.ModelEventIT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-R2UPGH3\DR;initial catalog=ITEvent;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EventEntitiesIT" connectionString="metadata=res://*/Entities.ModelEvent.csdl|res://*/Entities.ModelEvent.ssdl|res://*/Entities.ModelEvent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-R2UPGH3\DR;initial catalog=ITEvent;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>